<!-- <h1>Angular Assignment</h1> -->
<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>First</a>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Second</a>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->
<!-- <nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" href="#">Active</a>
  <a class="nav-item nav-link active" href="#" tabindex="-1" >Disabled</a>
</nav> -->
<ul class="nav nav-pills bg-dark p-3 justify-content-center">
  <li class="nav-item">
    <a routerLink="template" class="nav-link active">Template Form</a>
  </li>
  <li class="nav-item">
    <a routerLink="reactive" class="nav-link active mx-4"  tabindex="-1" >Reactive Form</a>
  </li>

</ul>
<router-outlet></router-outlet>
<!-- <app-template-driven></app-template-driven> -->
<!-- <app-reactive-form></app-reactive-form> -->
